{##
 # @ListChild (list="order.operations", weight="40")
 #}

{% if this.order.isCloverPaymentsOrder() %}
	<div style="margin: 15px 0; max-width: 850px;">
		<div class="head-h4">{{ t('Credit/Debit Card details') }}</div>
		{{ widget('\\Iidev\\CloverPayments\\View\\Card', card=this.order.getCloverPaymentsCard()) }}
	</div>
{% endif %}
